html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
ul {
     text-decoration:none;
     list-style-type:none;
}
li {
    text-decoration: none;
}
.panel {
    width: 100%;
    margin-right: 20px;
    border-radius: 0px;
    border-left: 10px solid tomato;
    border-top: 1px solid tomato;
    border-bottom: 1px solid tomato;
    border-right: 1px solid grey;
    cursor: pointer;
    min-height:140px;
}
.category {
    padding: 5px;
    margin: 5px 7px 20px 0px;
    border: 2px solid tomato;
    display: inline-block !important;
}

tags-input .tags {
    box-shadow: none;
}

    tags-input .tags .tag-item {
        background: none;
        background-color: transparent;
        color: tomato;
        border: 1px solid tomato;
        border-radius: 0;
    }

        tags-input .tags .tag-item .remove-button {
            color: tomato;
        }
tags-input .host {
    margin: 0;
}
.pill-tags {
    display: inline-block;
    margin: 5px 7px 20px 0px;
    padding: 5px;
    border: 2px solid #CCC;
}

.modal-header {
    border: none;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 45px;
}

    .modal-header p {
        padding: 0;
        margin: 0;
    }
.resource-modal {
    padding: 40px 0px;
}
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-body {
    padding: 0px 50px;
}

    .modal-body input {
        display: block;
        width: 100%;
        margin: 25px 0px;
        box-shadow: none;
        padding: 5px;
        font-size: 14px;
        line-height: 18px;
    }

    .modal-body textarea {
        display: block;
        width: 100%;
        margin: 25px 0px;
        box-shadow: none;
        padding: 5px;
        font-size: 14px;
        line-height: 18px;
    }

    .modal-body select {
        display: block;
        width: 100%;
        margin: 25px 0px;
        box-shadow: none;
        padding: 5px;
        font-size: 14px;
        line-height: 18px;
    }

.modal-footer {
    border: none;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
}

    .modal-footer button {
        display: inline-block;
        width: 44%;
    }

.modal-btn {
    background-color: transparent;
    height: 55px;
    font-size: 16px;
}

.red-btn {
    border: 2px solid tomato;
    color: tomato;
}

    .red-btn:hover {
        background-color: tomato;
        color: #ffffff;
        transition: all 0.6s;
    }

.yellow-btn {
    border: 2px solid #F2C94C;
    color: #F2C94C;
}

    .yellow-btn:hover {
        background-color: #F2C94C;
        color: #ffffff;
        transition: all 0.6s;
    }
.search-btns {
    background-color: transparent;
    font-size:16px;
    height:35px;
    padding: 0px 30px;
}

/* 
   =================
    CSS GRID STYLES
   =================
*/
.all-container {
    height:100%;
}
.main-container {
    display: grid;
    grid-template-columns: 140px 60px auto 60px;
    grid-template-rows: 5% 10% 70% 10% 5%;
    height: 100%;
}

.fixed-nav {
    grid-column: 1 / span 1;
    grid-row: 1 / 6;
    background-color: tomato;
    padding: 10px;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-auto-flow: column;
    text-align: center;
    align-items: center;
}
    .fixed-nav div {
        cursor: pointer;
    }

.search-bar {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    display: inline-grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto 1fr;
    justify-content: space-between;
    padding: 10px;
}

.add-btn {
    text-align: center;
}

.submit-btn {
    text-align: center;
}

.search-input {
    text-align: center;
}

    .search-input input {
        width: 95%;
    }

.card-container {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 10px;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}
    .card-container div {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
.card-pagination {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    padding: 10px;
}

/*
    =================
    PAGINATION STYLES
    =================
*/

.pagination a {
    color: tomato;
    
}
.pagination li a {
    border: 1px solid tomato;
}
.pagination .active a {
    background-color: tomato;
    border-color: tomato;
}


