    <resources>
        <template id="resource-list">
            <div v-for="res in resource">
                <p>Resource Name: {{ res.ResourceName }}</p>
                <p>Resource Description: {{ res.Description }}</p>
            </div>
        </template>
    </resources>